# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Selenium / browser
*.sqlite
*.db

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
